<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  
  <a class="navbar-brand" href="#" [routerLink]="['/home']">Dating App</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#" [routerLink]="['/members']">Matches <span class="sr-only">(current)</span></a
      >
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#" [routerLink]="['/list']">Lists</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#" [routerLink]="['/messages']">Messages</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()"  class="dropdown" dropdown>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome  {{ authservice.decodedToken?.nameid[1] | titlecase}}
    </a>

    <div clas="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a >
     <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"  (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
    </div>
  </div>

  <form *ngIf="!loggedIn()"
    #employeeForm="ngForm"
    class="form-inline my-2 my-lg-0"
    (ngSubmit)="login(employeeForm.value)"
  >
    <input class="form-control mr-sm-2" name="username" [(ngModel)]= "abc.username" />
    <input class="form-control mr-sm-2" type="password" name="password" [(ngModel)]= "abc.password" />

    <button type="submit">LogIn</button>
  </form>
</nav>
